attrs # for model classes
aiohttp # for resolving packages via REST APIs
lark # for parsing and evaluation orchestration
inject # for dependency injection
marshmallow # for serialization (JSON)
marshmallow_enum # for enum serialization
maus # for validation

# whenever adding something here, don't forget to also add it to setup.cfg
