name: "Test JSON Schema Creation"
on: [push]
jobs:
  docbuild:
    name: Check JSON Schema Creation
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python-version: ["3.10", "3.11"] # https://github.com/Hochfrequenz/ahbicht/issues/358
        os: [ubuntu-latest]
    steps:
      - uses: actions/checkout@v5
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install tox
      - name: Check JSON Schemas
        run: |
          tox -e json_schemas
